# Environment variables
.env
backend/.env

# Database
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db